.navbar {
  background-color: var(--inverted-bg-color);
  height: var(--navbar-height);
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;

  a:not(:first-child) {
    margin-left: 20px;
  }
}

.item {
  margin-right: 20px;
}
